body {
    max-width: 1200px;
    margin: 10px auto;
  }

  
  header {
    background-color: #ffcc00;
    height: 150px;
    margin: 10px;
  }
  
  main {
    display: flex;
  }
  
  aside {
    background-color: #9b59b6;
    flex: 300px;
    height: 300px;
    margin: 10px;
  }
  
  section {
    background-color: #1abc9c;
    flex: 1;
    height: 300px;
    margin: 10px;
  }
  
  footer {
    background-color: #e74c3c;
    height: 100px;
    margin: 10px;
  }
  